#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex-grow: 1;
}

icon {
    visibility: hidden;
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
}
