a {
    &[disabled] {
        pointer-events: none;
        opacity: 0.4;
    }
}

code {
    background-color: transparent;
}

pre, .content pre {
    background-color: transparent;
    padding: 0;
    box-shadow: 0 0 3px #999;

    code {
        padding: 1.25rem 1.5rem;
    }
}
