@import "node_modules/bulmaswatch/journal/variables";

// My variables
$salmon: #f4645f;
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #db4437;
$linkedin: #0077b5;

// Variables overrides
$primary: $salmon;
$danger: $red;
$body-background-color: #eee;
