.hero {
    .title {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 50px;
    }

    &.hero-image {
        background-size: cover;
        background-position: center;

        &.overlay-dark {
            .title, .subtitle {
                color: #fff;
            }

            .subtitle {
                color: $grey-light;
            }

            .hero-body {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}
