.navbar-brand .navbar-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: lowercase;

    img {
        background: #fee;
        border-radius: 5px;
        box-shadow: 0 0 0 2px #fee;
        margin-right: 7px;
    }
}
