.post-header,
.post-body,
.post-share {
    margin-bottom: 3rem;
}

.post-share {
    text-align: center;

    .button {
        color: #fff;
        min-width: 130px;
        margin-bottom: 5px;
    }
}

[data-link="#share-facebook"] .button {
    background-color: $facebook;
}

[data-link="#share-twitter"] .button {
    background-color: $twitter;
}

[data-link="#share-googleplus"] .button {
    background-color: $googleplus;
}

[data-link="#share-linkedin"] .button {
    background-color: $linkedin;
}

.post-comments {
    max-width: 700px;
    margin: 0 auto;
}
